.orginviteuser-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(22, 105, 183);
    font-family: Poppins;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.811);
    padding: 15px 10px;
    border-radius: 5px;
    width: 700px;
}

.orginviteuser-container > h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(22, 105, 183);
    margin-bottom: 1.5rem;
}

.orginviteuser-container form {
    display: flex;
    flex-direction: column;
}

.orginviteuser-container input {
    font-size: 15px;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.orginviteuser-container button {
    font-size: 15px;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background-color: #186037;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
